<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}/edit(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>

    <label for="age"> Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color : #ff1e20;" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color : #ff1e20;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>

    <input type="submit" value="Edit!"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>