<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="classicalMusic"
          class="org.example.SpringDemo.ClassicalMusic">
    </bean>
    <bean id="rap"
          class="org.example.SpringDemo.Rap">
    </bean>

    <bean id="musicList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="classicalMusic" />
                <ref bean="rap" />
            </list>
        </constructor-arg>
    </bean>



    <bean id = "musicPlayer"
          class = "org.example.SpringDemo.MusicPlayer"

          destroy-method="destroyMethod"
          init-method="initMethod">

        <property name="music" ref="musicList"/>
        <property name="name" value="${mucicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

    </bean>

</beans>